$formTextColor: #020253;
$formTitleH1Font: normal normal 900 43px/63px Heebo;
$FormTitlePfont: normal normal normal 20px/29px Heebo;
$labelFont: normal normal bold 16px/24px Heebo;
$borderBottom: 5px solid #020253;
$inputBgc: #E5EEFF;
$color: #FFFFFF;
$inputFont: normal normal bold 22px/30px Heebo;
$buttonBgc: #020253;